
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<property name="LOG_BASE" value="${log.dir}" />-->

    <!--<appender name="ERR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<file>${LOG_BASE}/err.log</file>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash; daily rollover %d{yyyy-MM-dd_HH-mm} &ndash;&gt;-->
            <!--<fileNamePattern>${LOG_BASE}/err.%d.log</fileNamePattern>-->

            <!--&lt;!&ndash; keep 10 days' worth of history &ndash;&gt;-->
            <!--<maxHistory>10</maxHistory>-->
        <!--</rollingPolicy>-->

        <!--<encoder>-->
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->


    <!--<appender name="PLATFORM_USER_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<file>${LOG_BASE}/pl_user.log</file>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash; daily rollover %d{yyyy-MM-dd_HH-mm} &ndash;&gt;-->
            <!--<fileNamePattern>${LOG_BASE}/pl_user.%d.log</fileNamePattern>-->

            <!--&lt;!&ndash; keep 10 days' worth of history &ndash;&gt;-->
            <!--<maxHistory>10</maxHistory>-->
        <!--</rollingPolicy>-->

        <!--<encoder>-->
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <!--<appender name="OP_UT_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<file>${LOG_BASE}/op_ut.log</file>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash; daily rollover %d{yyyy-MM-dd_HH-mm} &ndash;&gt;-->
            <!--<fileNamePattern>${LOG_BASE}/op_ut.%d.log</fileNamePattern>-->

            <!--&lt;!&ndash; keep 10 days' worth of history &ndash;&gt;-->
            <!--<maxHistory>10</maxHistory>-->
        <!--</rollingPolicy>-->

        <!--<encoder>-->
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <!--<appender name="OP_TPV_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<file>${LOG_BASE}/op_tpv.log</file>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash; daily rollover %d{yyyy-MM-dd_HH-mm} &ndash;&gt;-->
            <!--<fileNamePattern>${LOG_BASE}/op_tpv.%d.log</fileNamePattern>-->

            <!--&lt;!&ndash; keep 10 days' worth of history &ndash;&gt;-->
            <!--<maxHistory>10</maxHistory>-->
        <!--</rollingPolicy>-->

        <!--<encoder>-->
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <!--<logger name="platform.user" level="INFO">-->
        <!--<appender-ref ref="PLATFORM_USER_LOG" />-->
    <!--</logger>-->

    <!--<logger name="op.user.tenant" level="INFO">-->
        <!--<appender-ref ref="OP_UT_LOG" />-->
    <!--</logger>-->

    <!--<logger name="op.tenant.pv" level="INFO">-->
        <!--<appender-ref ref="OP_TPV_LOG" />-->
    <!--</logger>-->


    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
